Repository openshift-kni/cnf-features-deploy, pull requests merged in 2024-12, with the labels that each got.

#2121 CNF-15583: Add description text to metadata.yaml [4.17 backport]
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/valid-reference

#2122 CNF-15584: Add description text to metadata.yaml [4.16 backport]
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/valid-reference

#2123 CNF-15585: Add description text to metadata.yaml [4.15 backport]
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/valid-reference

#2124 CNF-15586: Add description text to metadata.yaml [4.14 backport]
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/valid-reference

#2125 cnf-tests: Use ContainSubstring in sysctl tuning cni test
  cnf-tests/testsuites/e2esuite/security/tuning.go
Labels: approved, lgtm

#2127 ztp: OCPBUGS-44518: ClusterLogForwarder source-cr update
  ztp/gitops-subscriptions/Makefile
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/configMaps/group-zones-configmap.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/schema.openapi
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/hub-side-templating/configMaps/group-zones-configmap.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogForwarder.yaml
  ztp/source-crs/ClusterLogForwarder.yaml
  ztp/tools/pgt2acmpg/test/newptpconfig-schema.json
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference, jira/severity-critical

#2130 OCPBUGS-42945: Ensure BMH deletion before InfrEnv and NS
  ztp/siteconfig-generator/siteConfig/clusterCRsV1.go
  ztp/siteconfig-generator/siteConfig/clusterCRsV2.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/testdata/BareMetalHostOverride-badName.yaml
  ztp/siteconfig-generator/siteConfig/testdata/BareMetalHostOverride-badNamespace.yaml
  ztp/siteconfig-generator/siteConfig/testdata/BareMetalHostOverride.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/mergeMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/splitMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/onlyUserCR.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/partialfilter.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/removeAll.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningDeprecatedTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningNewTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigDualStackStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigStandardClusterTestOutputWithZap.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigV2TestOutput.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#2132 OCPBUGS-46376: Disk encryption with TPM PCR 1 and 7 protection: upgrade not detected with TALM method
  ztp/extra-manifests-builder/01-disk-encryption-pcr-rebind/build.sh
  ztp/extra-manifests-builder/01-disk-encryption-pcr-rebind/hwupgrade-detection-methods/talm.sh
  ztp/extra-manifests-builder/01-disk-encryption-pcr-rebind/order.conf
  ztp/extra-manifests-builder/01-disk-encryption-pcr-rebind/pcr-disable-shutdown.service
  ztp/kube-compare-reference/optional/machine-config/01-disk-encryption-pcr-rebind-master.yaml
  ztp/kube-compare-reference/optional/machine-config/01-disk-encryption-pcr-rebind-worker.yaml
  ztp/source-crs/extra-manifest/01-disk-encryption-pcr-rebind-master.yaml
  ztp/source-crs/extra-manifest/01-disk-encryption-pcr-rebind-worker.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference
