Repository openshift-kni/cnf-features-deploy, pull requests merged in 2024-09, with the labels that each got.

#2016 infra: Bump versions to 4.18
  cnf-tests/Dockerfile
  cnf-tests/Dockerfile.openshift
  hack/common.sh
Labels: approved, lgtm

#2017 ztp: Reference: Replace the node selector reference logic with something more flexible
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigDualCardGmWpc.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigForHA.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigForHAForEvent.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigMaster.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigMasterForEvent.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigSlave.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigSlaveCvl.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigSlaveForEvent.yaml
  ztp/kube-compare-reference/optional/storage/StoragePV.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/validate_node_selector.tmpl
Labels: approved, lgtm

#2018 OCPBUGS-39093: Reference: Allow merged object validation in more cases
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#2015 OCPBUGS-39104: ztp: Reference: Make OperatorHub and DisableOLMPprof optional
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#2002 OCPBUGS-38670: ztp: enable automatic leap second handlling
  ztp/source-crs/PtpConfigDualCardGmWpc.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
  ztp/source-crs/TunedPerformancePatch.yaml
Labels: approved, lgtm, jira/valid-bug, jira/valid-reference

#2019 ztp: Fix link to argocd patch in README
  ztp/gitops-subscriptions/argocd/README.md
Labels: approved, lgtm

#2022 OCPBUGS-39149: ztp: ignore empty file in siteconfig extra manifests
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
Labels: approved, lgtm, ok-to-test, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2026 ztp: IPsec: fix wrong files names
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/README.md
Labels: approved, lgtm

#2029 OCPBUGS-39106: ztp: reference: Make the StoragePVC CR optional
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference

#2037 OCPBUGS-39107: ztp: Add template for unordered list
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/unordered_list.tmpl
Labels: approved, lgtm, jira/valid-bug, jira/severity-moderate, jira/valid-reference

#2032 OCPBUGS-39093: reference: Enhance namespace templates to allow optional pod-security.kubernetes.io labels
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/local-storage-operator/StorageNS.yaml
  ztp/kube-compare-reference/optional/sriov-fec-operator/AcceleratorsNS.yaml
  ztp/kube-compare-reference/optional/storage/StorageLVMSubscriptionNS.yaml
  ztp/kube-compare-reference/optional/storage/StoragePV.yaml
  ztp/kube-compare-reference/optional_labels.tmpl
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogNS.yaml
  ztp/kube-compare-reference/required/lca/LcaSubscriptionNS.yaml
  ztp/kube-compare-reference/required/ptp-operator/PtpSubscriptionNS.yaml
  ztp/kube-compare-reference/required/sriov-operator/SriovSubscriptionNS.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference, ztp/reference

#2036 ztp: Add PlatformBackupRestoreWithIBGU to source-crs
  ztp/source-crs/ibu/PlatformBackupRestoreWithIBGU.yaml
Labels: approved, lgtm

#2039 ztp: reference: Add unordered_list.tmpl to metadata.yaml
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm, ztp/reference

#2041 Reference: Fix unordered list template
  ztp/kube-compare-reference/unordered_list.tmpl
Labels: approved, lgtm, ztp/reference

#2042 ztp: CNF-14458: Follow up fixes for channel name & kubecompare-references
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogForwarder.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogSubscription.yaml
  ztp/source-crs/ClusterLogSubscription.yaml
Labels: approved, lgtm, jira/valid-reference

#2046 ztp: CNF-14458: Add cluster log service account CRs to argocd example…
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/common-ranGen.yaml
Labels: approved, lgtm, jira/valid-reference

#2047 ztp: reference: Fix ClusterLogServiceAccount filenames
  ztp/kube-compare-reference/metadata.yaml
Labels: approved, lgtm

#2048 ztp: reference: Add a CI check to ensure the reference metadata syntax is okay
  ztp/Makefile
  ztp/kube-compare-reference/.gitignore
  ztp/kube-compare-reference/Makefile
Labels: approved, lgtm

#2044 ztp: CNF-14638: Cherry pick CLO6 changes to release-4.17
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/configMaps/group-zones-configmap.yaml
  ztp/gitops-subscriptions/argocd/example/configuration-groups.md
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/hub-side-templating/configMaps/group-zones-configmap.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/hub-side-templating/group-du-sno-ranGen-templated.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogForwarder.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccount.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountAuditBinding.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountInfrastructureBinding.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogSubscription.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogging.yaml
  ztp/policygenerator-kustomize-plugin/README.md
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/common-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/group-du-sno-ranGen.yaml
  ztp/policygenerator/README.md
  ztp/ran-crd/policy-gen-template-ex.yaml
  ztp/source-crs/ClusterLogForwarder.yaml
  ztp/source-crs/ClusterLogServiceAccount.yaml
  ztp/source-crs/ClusterLogServiceAccountAuditBinding.yaml
  ztp/source-crs/ClusterLogServiceAccountInfrastructureBinding.yaml
  ztp/source-crs/ClusterLogSubscription.yaml
  ztp/source-crs/ClusterLogging.yaml
  ztp/tools/pgt2acmpg/README.md
Labels: approved, lgtm, jira/valid-reference

#2049 ztp: CNF-14458: Remove namespace from ClusterLogServiceAccount ClusterRoleBindings
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountAuditBinding.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountInfrastructureBinding.yaml
  ztp/source-crs/ClusterLogServiceAccountAuditBinding.yaml
  ztp/source-crs/ClusterLogServiceAccountInfrastructureBinding.yaml
Labels: approved, lgtm, jira/valid-reference

#2043 OCPBUGS-39094: Update cluster-compare reference to v2 and address PTP Config multiplicity
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigBoundary.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigGmWpc.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference, ztp/reference

#2050 OCPBUGS-39093: ztp: reference: Fix ImageRegistryConfig.yaml to not show differences for null values
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/image-registry/ImageRegistryConfig.yaml
Labels: approved, lgtm, jira/severity-important, jira/valid-bug, jira/valid-reference, ztp/reference

#2051 CNF-14285: ztp: reference: Change "pod-security.kubernetes.io/" label to be prefix based
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/local-storage-operator/StorageNS.yaml
  ztp/kube-compare-reference/optional/sriov-fec-operator/AcceleratorsNS.yaml
  ztp/kube-compare-reference/optional/storage/StorageLVMSubscriptionNS.yaml
  ztp/kube-compare-reference/optional_labels.tmpl
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogNS.yaml
  ztp/kube-compare-reference/required/lca/LcaSubscriptionNS.yaml
  ztp/kube-compare-reference/required/ptp-operator/PtpSubscriptionNS.yaml
  ztp/kube-compare-reference/required/sriov-operator/SriovSubscriptionNS.yaml
Labels: approved, lgtm, jira/valid-reference
